@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 border justify-content-center p-4">
                <center>
                    <img src="~/images/student.jfif" style="width: 150px; border-radius: 50%;" />
                    <h4 class="text">
                        Aarohan Nakarmi
                    </h4>
                    <a href="https://github.com/workwithAarohan"><b>workwithAarohan</b> </a>
                    <hr />
                    <p class="text-muted">
                        Hi, I am Aarohan Nakarmi. I am currently pursuing my bachelor degree 
                        in CSIT. If you want to know more about me, just check my work on GitHub.
                    </p>
                </center>
        </div>
    </div> 
</div>