@{
    ViewData["Title"] = "Home Page";
}

<div class="box">
    <div class="head">
        Net-Centric Computing
    </div>
    <div class="body">
        <p>
            <b>Net-Centric Computing</b> focuses on large-scale
            distributed computing systems and applications that communicate through open,
            wide-area networks like the Internet. Typical examples of large-scale network-centric
            systems are the World-Wide Web and Computational Grids.
        </p>
        <p>This subject covers:</p>
        <ul>
            <li>Introduction to .NET Framework</li>
            <li>ASP.NET Framework</li>
            <li>HTTP and ASP.NET Core</li>
            <li>Creating ASP.NET Core MVC Applications</li>
            <li>Working with Database</li>
            <li>State Management on ASP.NET Core Application</li>
            <li>Client-side Development in ASP.NET Core</li>
            <li>Securing in ASP.NET Application</li>
            <li>Hosting and Deploying ASP.NET Core Application</li>
        </ul>
    </div>
    <div class="foot">
        <p>Taught by:</p>
        <div style="display:flex;">
            <img src="~/images/teacher.jfif" />
            <p>
                Chandan Gupta Bhagat <br /><a href="https://github.com/chandan-g-bhagat">chandan-g-bhagat</a>
            </p>
        </div>
    </div>
</div>
